---
import { Tweets } from '../components/Tweets';
import Layout from '../layouts/Layout.astro';

const tweets = [
	{
		name: "Out Of Context Football",
		username: "@nocontextfooty",
		profilePic: "https://pbs.twimg.com/profile_images/1112323410837815296/wxhDfc5D_200x200.jpg",
		content: "",
		img: "https://pbs.twimg.com/media/GV6LF5MWMAAtxP-?format=jpg&name=small",
		likes: 123,
		liked: true
	},
	{
		name: "Barca Worldwide",
		username: "@BarcaWorldwide",
		profilePic: "https://pbs.twimg.com/profile_images/1580306705178427392/tcAC_Yju_400x400.png",
		content: "Nobody else can do this 😮‍💨",
		img: "https://pbs.twimg.com/media/GVpsXWVWAAEN5y6?format=jpg&name=small",
		likes: 123,
		liked: false
	},
	{
		name: "San Marino Fútbol 🇸🇲",
		username: "@SanMarinoTeam",
		profilePic: "https://pbs.twimg.com/profile_images/1790442565205893121/hwsihkdf_400x400.jpg",
		content: "Cada uno festeja lo que puede.",
		img: "https://pbs.twimg.com/media/GVma9ogXIAAS4pX?format=jpg&name=small",
		likes: 123,
		liked: true
	}
]
---

<Layout title="Inicio / X">
	<main>
		<Tweets tweets={tweets} client:load/>
	</main>
</Layout>

