---
import { Tweets } from '../components/Tweets';
import Layout from '../layouts/Layout.astro';

const URL = "http://localhost:3000/tweets";

async function fetchTweets() {
  try {
    const res = await fetch(URL);
    if (!res.ok) {
      throw new Error('Error en la solicitud: ' + res.statusText);
    }
    const json = await res.json();
    return json // Aquí manejas los datos JSON
  } catch (error) {
    console.error('Error:', error);
  }
}

//const tweets = await fetchTweets();


const tweets = [
	{
		u_name: "Out Of Context Football",
		username: "@nocontextfooty",
		profile_pic: "https://pbs.twimg.com/profile_images/1112323410837815296/wxhDfc5D_200x200.jpg",
		content: "",
		img: "https://pbs.twimg.com/media/GV6LF5MWMAAtxP-?format=jpg&name=small",
		likes: 123,
		liked: true
	},
	{
		u_name: "Barca Worldwide",
		username: "@BarcaWorldwide",
		profile_pic: "https://pbs.twimg.com/profile_images/1580306705178427392/tcAC_Yju_400x400.png",
		content: "Nobody else can do this 😮‍💨",
		img: "https://pbs.twimg.com/media/GVpsXWVWAAEN5y6?format=jpg&name=small",
		likes: 123,
		liked: false
	},
	{
		u_name: "San Marino Fútbol 🇸🇲",
		username: "@SanMarinoTeam",
		profile_pic: "https://pbs.twimg.com/profile_images/1790442565205893121/hwsihkdf_400x400.jpg",
		content: "Cada uno festeja lo que puede.",
		img: "https://pbs.twimg.com/media/GVma9ogXIAAS4pX?format=jpg&name=small",
		likes: 123,
		liked: true
	}
]
---

<Layout title="Inicio / X">
	<main>
		<Tweets tweets={tweets} client:load/>
	</main>
</Layout>

